@section Head{ }
@section Script{ }

@using HRSaas.Entities.Dtos
@model CompanyVM
<div class="row">
    <div class="col-md-12">
        <div class="card card-primary">
            <div style="background-color: #52006A " class="card-header">
                <h3 style="color: #FF7600" class="card-title">Paket Ekleme Sayfası</h3>
            </div>
            <div class="col-md-6 mx-auto">
                <form enctype="multipart/form-data" asp-area="SiteManager" asp-controller="PackageToCompany" asp-action="Index">
                    <div class="card-body">

                        <!--Şirket Seç-->
                        <div class="form-group">
                            <label>Şirket</label>
                            <select id="Id" asp-for="Id" class="custom-select rounded-0" asp-items="(SelectList)ViewBag.CompanyList">
                                <option>Şirket seçiniz.</option>
                            </select>
                            @*<span asp-validation-for="CompanyId" class="text-danger"></span>*@
                        </div>
                        <!--Paket Seç-->
                        <div class="form-group">
                            <label>Paket</label>
                            <select id="PackageId" asp-for="PackageId" class="custom-select rounded-0" asp-items="(SelectList)ViewBag.PackageList">
                                <option>Şirket seçiniz.</option>
                            </select>
                            @*<span asp-validation-for="CompanyId" class="text-danger"></span>*@
                        </div>
                        <div style="background-color:white;padding-left:0px;" class="card-footer">
                            <button id="SaveButton" value="Open Modeless popup" style="background-color: #FFA900; color: #52006A;" type="submit" class="btn" data-toggle="modal" data-target="#modal-default">Kaydet</button>
                        </div>

                    </div>
                </form>
                @if (TempData["packagetoCompanyMessage"] != null)
                {
                    <script type="text/javascript">
                        window.onload = function () {
                            alert("@TempData["packagetoCompanyMessage"]");
                        }
                    </script>
                }
            </div>
        </div>
    </div>
</div>
